.navbar {
  background-color: #8b222a;
  padding: 8px;
  display: flex;
  font-size: 24pt;
  font-family: 'north-rock';
  letter-spacing: 1.5px;
  border-radius: 10px;
  width: calc(100% - 50px);
  height: 75px;
  margin: auto;

}

.navbar-collapse {
    background-color: #8b222a;
    padding-left: 8px;
}

nav .navbar-brand {
    color: white;
    font-size: 24pt;
}

nav .nav-link {
    color: white;
    font-size: 14pt;
}

nav{
    padding: 0;
    color: white;
}

.dropdown-menu{
    background-color: #8b222a;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color: #8b222a;
    color:black;
}