.navbar {
  background-color: #7d393b;
  padding: 8px;
  display: flex;
  font-size: 24pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  border-radius: 10px;
  width: calc(100% - 50px);
  height: 75px;
  margin: auto;

}

.navbar-collapse {
    background-color: #7d393b;
    padding-left: 8px;
}

nav .navbar-brand {
    color: white;
    font-size: 24pt;
}

nav .nav-link {
    color: white;
    font-size: 14pt;
}

nav{
    padding: 0;
    color: white;
}

.dropdown-menu{
    background-color: #7d393b;
}

.dropdown-item{
    color: white;
}

.dropdown-item:hover{
    background-color: #7d393b;
    color:black;
}